body {
    margin: 0;
}

.pokedex {
    justify-content: center;
    position: fixed;
    background-image: url('https://img00.deviantart.net/4238/i/2012/295/e/e/pokedex_vector_style_by_cristopheros-d5imu6t.png');
    height: 100vh;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#noise {
    position: absolute;
    top: 12.4%;
    left: 40%;
    height: 30vh;
    width: 19.3vw;
    border-radius: 4.5px;
    transition: opacity 0.5s;
}

.invisible {
   opacity: 0;
}

.menu {
    position: absolute;
    top: 60%;
    left: 42.2%;
}

.menu li {
    padding-bottom: 12%;
    padding-left: 0;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 600;
     text-shadow: 2px 2px 14px #333;
    font-family: sans-serif;
}

#pwrbtn {
    height: 100px;
    width: 100px;
    background: black;
    position: absolute;
    opacity: .5;
    top: 61.5%;
    left: 75.5%;
}