body {
    margin: 0;
}

#dex {
    position: fixed;
    top: 10px;
    left: 22%;
}

.pokedex {
    justify-content: center;
    position: fixed;
    background-image: url('https://img00.deviantart.net/4238/i/2012/295/e/e/pokedex_vector_style_by_cristopheros-d5imu6t.png');
    height: 100vh;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#noise {
    position: absolute;
    top: 12.4%;
    left: 40%;
    height: 30vh;
    width: 19.3vw;
    border-radius: 4.5px;
    transition: opacity 0.5s;
}

.invisible {
   opacity: 0;
}

.menu {
    position: absolute;
    top: 60%;
    left: 42.2%;
}

.menu li {
    padding-bottom: 12%;
    padding-left: 0;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 600;
     text-shadow: 2px 2px 14px #333;
    font-family: sans-serif;
}

ul#menu li:first-child:hover {
    cursor: pointer;
} 

#pwrbtn {
    height: 100px;
    width: 100px;
    background: black;
    position: absolute;
    opacity: .5;
    top: 49.5%;
    left: 72.5%;
}

.device-grid {
    display: grid;
    position: fixed;
    top: 7%;
    left: 32%;
    grid-template: 300px 300px / 500px;
}

.device-grid div:nth-child(1) {
    background: gray;
    border-top-right-radius: 25px;
}

.device-grid div:nth-child(2) {
    background: yellow;
}

div#top-screen > div {
    border-radius: 5px;
    border-top-right-radius: 5px !important;
    background: lightblue;
    border: 3px solid green;
    position: absolute;
    top: 5%;
    left: 22%;
    width: 58%;
    height: 33.3%;
}

div#bottom-screen > div {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
    background: gray;
    position: absolute;
    bottom: 15%;
    right: -30%;
    height: 150px;
    width: 150px;
}

.pwrbtn {
    height: 100px;
    width: 100px;
    border-radius: 50% !important;
    background: lightgreen !important;
    position: absolute;
    top: 16%;
    left: 11%;
}