:root {
    --pokedex-red: #E5441F;
    --screen: #376092;
}

body {
    margin: 0;
}

#dex {
    position: fixed;
    top: 10px;
    left: 22%;
}

.pokedex {
    justify-content: center;
    position: fixed;
    background-image: url('https://img00.deviantart.net/4238/i/2012/295/e/e/pokedex_vector_style_by_cristopheros-d5imu6t.png');
    height: 100vh;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#noise {
    position: absolute;
    top: 12.4%;
    left: 40%;
    height: 30vh;
    width: 19.3vw;
    border-radius: 4.5px;
    transition: opacity 0.5s;
}

.invisible {
   opacity: 0;
}

.menu {
    position: absolute;
    top: 13%;
    left: 12.2%;
    transition: display 1.3s;
}

.hidden {
    display: none;
}

.menu li {
    padding-bottom: 12%;
    padding-left: 0;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 600;
     text-shadow: 2px 2px 14px #333;
    font-family: sans-serif;
}

ul#menu li:first-child:hover {
    cursor: pointer;
} 

.device-grid {
    display: grid;
    position: fixed;
    top: 7%;
    left: 32%;
    grid-template: 300px 300px / 500px;
}

div#top-screen {
    z-index: 1;
}

.device-grid div:nth-child(1) {
    background: var(--pokedex-red);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.device-grid div:nth-child(2) {
    background: var(--pokedex-red);
    border-top: 1px solid black;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

div#top-screen > div:first-child {
    /* top screen */
    border-radius: 5px;
    border-top-right-radius: 5px !important;
    background: var(--screen);
    border: 3px solid #BFBFBF;
    position: absolute;
    top: 5%;
    left: 22%;
    width: 58%;
    height: 33.3%;
}

div#top-screen > div:nth-child(2) {
   /*  */
   background: #474747 !important;
   border: 3px solid black;
   border-radius: 9px;
   position: absolute;
   width: 81%;
   height: 30.6%;
   z-index: -1;
   top: 6.5%;
   left: 12%;
}

div#bottom-screen > div:first-child {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
    background: #474747;
    position: absolute;
    bottom: 15%;
    right: -30%;
    height: 150px;
    width: 150px;
}

#screen2 {
    background-color: var(--screen);
    border: 3px solid #BFBFBF;
    border-radius: 5px;
    position: absolute;
    bottom: 9%;
    right: 19%;
    width: 58%;
    height: 35%;
    transition: background-color 1.3s;
}

#pwrbtn {
    height: 100px;
    width: 100px;
    border-radius: 50% !important;
    background: #8BAF42;
    position: absolute;
    top: 16%;
    left: 11%;
    transition: transform .2s;
}

#pwrbtn:hover {
    cursor: pointer;
    background: rgb(113, 143, 54) !important;
}

.big-well {
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
    background: #474747 !important;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: -45%;
}

